<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h2 class="text-center mt-5">Login</h2>


    <!-- Hiển thị thông báo lỗi -->

    <form th:action="@{/login}" method="post"

          class="mx-auto p-4 border rounded shadow-sm bg-light" style="max-width: 400px;">
        <div th:if="${param.error}" class="alert alert-danger text-center">
            Sai tên đăng nhập hoặc mật khẩu!
        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
</div>

</body>
</html>
